<div id="usersdata">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
      <ul *ngFor="let user of userdata">
        <li> <a (click)="getpostData(user.id)"> {{user.id}} {{user.name}} </a> <span [ngStyle]="user.gender=='female'? {'background-color': 'red'} : {'background-color': 'blue'}"> {{user.gender}} </span>
          
        
        </li>
      </ul>
      </div>
      <div class="col-lg-8" *ngIf="bodyofPost != null">
        <ng-container *ngFor="let bodyofPost of bodyofPost">
          <h1>{{bodyofPost.title}} <br></h1>
          <p>{{bodyofPost.body}}</p>
        </ng-container>
      </div>
      <div class="col-lg-8" *ngIf="bodyofPost ==null || bodyofPost.length <= 0 ">
        
        <p> Please click the subject to get the story details </p>
      </div> 
    </div>
  </div>
</div>

<router-outlet></router-outlet>
